// style.sass
//Imports
@import reset
    

// Colors
$DarkGray: #424242

// Text
$TextDark: #212121
$Text:     #4A4A4A

h3
    font:
        size: 2.333rem
        weight: 600
        line-height: 1.286
        color: $Text
        padding: 0.5rem 0
        text-align: center
h4
    font:
        size: 1.4rem
        weight: 600
        line-height: 1.375
        color: $Text
        padding: 1rem 0
        text-align: center

p
    font:
        size: 1rem
        weight: 300
        line-height: 1.667
        padding: .5rem 0
        text-align: center
@font-face
    font-family: "Chalkboard SE"
    src: url("fonts/ChalkboardSE.ttc")





//clearfix
=clearfix
    &:after
        content: ""
        display: table
        clear: both
    
body
    font:
        family: "Chalkboard SE"
        size: 1rem
    line-height: 1.4
button
    background: #FFFFFF
    border: 1px solid #000000
    font-family: "Chalkboard SE"
    
section, nav
    max-width: 65rem
    margin: 0 auto
    padding: 2rem 0
    
//Header
header
    background: white
    padding: 0.5rem 0
    max-width: 100%
    
    nav
        +clearfix
        justify-content: center
        
        .logo
            float: left
            margin: 0 2rem
            img
                width: 100px
                height: 100px
            p,img
                display: inline
                vertical-align: middle
            p
                font-size: 2rem
                
        .signinup
            float: right
            button
                font-size: 1.2rem
                cursor:pointer
                overflow: hidden
                outline:none
                width: 180px
                height: 62px
            margin: 1rem
            padding-right: 5rem
            
            
    
main
    #show-app
        +clearfix
        background: url("img/background.png")
        max-height: 642px
        
        .main-app, .call-to-action
            //width: 40%
            display: inline-block
            margin: 2rem 0
            
        .main-app
            width: 25%
            float:left
            margin: 4rem 6rem
            
            img
                width: 390px
                height: 703px
            
        .call-to-action
            width: auto
            float: right
            margin: 15rem 3rem
            img
                width: 107px
                height: 37px
            h4
                margin: 0.5rem 0
            button
                /* Rectangle: */
                border: 1px solid #000000
                height: 62px
                width: 237px
                background-color: transparent
                background-repeat: no-repeat
                cursor: pointer
                overflow: hidden
                outline: none
                margin: 1rem 0
                font-size: 2rem
            
            
    #steps
        margin: 2rem auto
        .step
            +clearfix
            max-height: 20rem
            overflow: hidden
            
            .step-detail
                margin-top: 3rem
                margin-left: 4rem
                width: 55%
                float: left
                h4
                    margin: 3rem 0
                
            .stp-pic
                float: right
                width: 40%
    .line-separator
            height: 1px
            background: #717171
            margin: 1rem auto
            width: 45%
        
    #call-to-detail
        margin: 1rem auto
        
        button, h4
            display: block
        h4
            margin: 0 auto
            text-align: center
        button
            height: 73px
            width: 307px
            cursor: pointer
            overflow: hidden
            outline: none
            margin: 2rem auto
            font-size: 2rem
        
footer
    background: gray
    margin: 2rem auto
    padding: 1rem 0
    max-width: 65rem
    h4, p
        color: white
        text-align: center
        
            
        

